<h3>Update Todo</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Task Id</label>
      <input type="text" class="form-control" id="taskId" required [(ngModel)]="todo.taskId" name="taskId">
    </div>
    
    <div class="form-group">
      <label for="name">Task Name</label>
      <input type="text" class="form-control" id="taskName" required [(ngModel)]="todo.taskName" name="taskName">
    </div>

    <div class="form-group">
      <label for="name">Task Description</label>
      <input type="text" class="form-control" id="taskDesc" required [(ngModel)]="todo.taskDesc" name="taskDesc">
    </div>

    <div class="form-group">
      <label for="name">Created Date</label>
      <input [disabled]="true" type="text" class="form-control" id="createdDate" required [(ngModel)]="todo.createdDate" name="createdDate">
    </div>

    <div class="form-group">
      <label for="name">Last Updated Date</label>
      <input [disabled]="true" type="text" class="form-control" id="lastUpdatedDate" required [(ngModel)]="todo.lastUpdatedDate" name="lastUpdatedDate">
    </div>

    

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>