<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Todo List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Task Id</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Created Date</th>
            <th>Last Updated Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todoList">
            <td>{{todo.taskId}}</td>
            <td>{{todo.taskName}}</td>
            <td>{{todo.taskDesc}}</td>
            <td>{{todo.createdDate}}</td>
            <td>{{todo.lastUpdatedDate}}</td>
            <td><button (click)="deleteTodo(todo.taskId)" class="btn btn-danger">Delete</button>
                <button (click)="todoDetails(todo.taskId)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="updateTodo(todo.taskId)" class="btn btn-info" style="margin-left: 10px">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>