<h2>Task Details</h2> 

<hr/>
<div *ngIf="todo">
  <div>
    <label><b>Task Id :</b></label> {{todo.taskId}}
  </div>
  <div>
    <label><b>Task Name :</b></label> {{todo.taskName}}
  </div>
  <div>
    <label><b>Task Description </b></label> {{todo.taskDesc}}
  </div>  
  <div>
    <label><b>Created Date </b></label> {{todo.createdDate}}
  </div> 
  <div>
    <label><b>Last updated date </b></label> {{todo.lastUpdatedDate}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Todo List</button><br>